body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}
p {
  color: white;
  font-family: "Roboto", sans-serif;
}
/* NAV-BAR */
.nav {
  height: 100px;
  border: 2px red solid;
}
.nav img {
  max-width: 150px;
  max-height: 150px;
  padding-right: 250px;
}
.nav ul {
  gap: 10px;
  list-style: none;
  align-items: center;
  /* vertical-align: middle; */
  text-align: left;
  justify-content: space-around;
  display: flex;
}

.nav-links {
  font-size: 17px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  transition: all 300ms ease;
  font-weight: bold;
}
.nav-links:hover {
  filter: drop-shadow(20px 20px 20px rgb(255, 4, 4));
  color: green;
}
.home-p2 span {
  color: rgb(2, 250, 51);
  font-weight: 500;
  font-size: 30px;
}
.home-content {
  font-size: 30px;
  width: 100%;
  margin-top: 10px;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
.home-content .content {
  float: right;
  width: 40%;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  padding-left: 40px;
  margin-right: 100px;
  border-radius: 25px;
}
.home-content video {
  position: relative;
  overflow: hidden;
  border-radius: 50%; /* Creates a circular shape */
  width: 400px;
  height: 400px;
  margin-top: 10px;
  float: left;
  margin-left: 300px;
}

.home-video video {
  width: 100%;
  height: auto;
  display: block;
}
.contact {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 10px;
  width: 100px;
  border-radius: 25px;
  background-color: white;
  color: black;
  margin-bottom: 30px;
  margin-left: 30px;
}
.contact:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.hr {
  height: 2px;
  background-color: white;
  border: solid;
  width: 500px;
}
/* ABOUT SECTIOn */
#about {
  margin-top: 400px;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
.about-div {
  margin-top: 100px;
  align-items: center;
}

.about-content {
  border-left: 2px solid red;
  border-bottom: 3px solid red;
  border-radius: 25px;
  float: right;
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  margin-right: 100px;
}

.about-img {
  float: left;
  max-width: 300px;
  max-height: 300px;
  margin-left: 250px;
}
.about-div h3 {
  text-align: center;
  color: rgba(255, 0, 0, 0.487);
  font-size: x-large;
  font-weight: bold;
}
.about-div h2 {
  text-align: center;
  font-size: xx-large;
  color: rgba(255, 0, 0, 0.487);
  font-weight: bold;
}
/* SKILLS */
#skills {
  margin-top: 600px;
  margin-bottom: 200px;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
#skills h2 {
  text-align: center;
  font-size: xx-large;
  color: rgba(255, 0, 0, 0.487);
  font-weight: bold;
}
.skills-content {
  margin-top: 30px;
  float: left;
  width: 30%;
  font-size: 20px;
  margin-left: 200px;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  border-radius: 25px;
}
.skills-content h3 {
  font-size: x-large;
  color: rgba(255, 0, 0, 0.487);
  font-weight: bold;
}
.skills-icons {
  float: right;
  width: 50%;
}
.pyIcon {
  max-width: 60px;
  max-height: 60px;
}
.icon {
  padding: 55px;
  transition: all 300ms ease;
}
.icon:hover {
  filter: drop-shadow(0 0 10px #14eb0dc6);
  transform: scale(1.5);
}
/* PROJECTS */
#projects {
  margin-top: 500px;
  margin-bottom: 500px;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
.proj {
  text-align: center;
  align-items: center;
}
.proj h2 {
  text-align: center;
  font-size: xx-large;
  color: rgba(255, 0, 0, 0.487);
  font-weight: bold;
}
.proj1 {
  width: 30%;
  height: 500px;
  float: left;
  margin-left: 100px;
  color: rgba(194, 29, 29, 0.576);
  font-size: 20px;
  margin-top: 75px;
  border: 3px solid red;
  border-radius: 25px;
  background-image: url("images/proj-background.jpg");
  margin-left: 250px;
}
.proj1 img {
  width: 420px;
  height: 300px;
  border-radius: 25px;
}
.proj1 h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.proj1:hover {
  background-image: url("images/proj1hover.jpg");
  transform: scale(1.1);
}
.proj2 {
  width: 30%;
  height: 500px;
  float: right;
  margin-left: 100px;
  color: rgba(194, 29, 29, 0.576);
  font-size: 20px;
  margin-top: 75px;
  border: 3px solid red;
  border-radius: 25px;
  background-image: url("images/proj-background.jpg");
  margin-right: 200px;
}
.proj2 img {
  width: 420px;
  height: 300px;
  border-radius: 25px;
}
.proj2 h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.proj2:hover {
  background-image: url("images/proj1hover.jpg");
  transform: scale(1.1);
}
#contactpage {
  margin-top: 700px;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-img {
  width: 50px;
  height: 50px;
  align-items: center;
  margin: 30px;
  background-color: greenyellow;
}
#contactpage h2 {
  text-align: center;
  font-size: 60px;
  color: rgba(255, 0, 0, 0.487);
  font-weight: bold;
}
.contact-icons p {
  margin: 0px;
}
.contact-img:hover {
  filter: drop-shadow(0 0 10px #0c04ffeb);
  transform: scale(1.5);
}
@media screen and (max-width: 600px) {
  body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    color: white;
    font-family: "Roboto", sans-serif;
  }

  /* NAV-BAR */
  .nav {
    width: 100%;
    align-items: center;
  }

  .nav img {
    max-width: 80%; /* Adjusted width for smaller screens */
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .nav ul {
    gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .nav-links {
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    transition: all 300ms ease;
    font-weight: bold;
    margin: 0px;
    padding-left: 10px;
  }
  /* HOME SECTION */
  .home-p2 span {
    color: rgb(2, 250, 51);
    font-weight: 500;
    font-size: 20px; /* Adjusted font size for smaller screens */
  }

  .home-content {
    font-size: 20px; /* Adjusted font size for smaller screens */
    width: 100%;
    margin-top: 10px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    align-items: start; /* Adjusted alignment */
  }

  .home-content .content {
    float: none;
    width: 100%;
    border-left: none;
    border-bottom: none;
    padding-left: 20px;
    margin-right: 0;
    border-radius: 25px;
  }

  .home-content video {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: none;
    margin-left: 0;
  }

  /* ABOUT SECTION */
  #about {
    margin-top: 100px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    align-items: start;
  }

  .about-div {
    margin-top: 50px; /* Adjusted margin for smaller screens */
    align-items: start;
  }

  .about-content {
    float: none;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 0;
  }

  .about-img {
    float: none;
    max-width: 100%;
    max-height: 300px;
    margin-left: 0;
  }

  /* SKILLS SECTION */
  #skills {
    margin-top: 100px;
    margin-bottom: 200px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    align-items: start;
  }

  #skills h2 {
    text-align: center;
    font-size: 24px; /* Adjusted font size for smaller screens */
    color: rgba(255, 0, 0, 0.487);
    font-weight: bold;
  }

  .skills-content {
    float: none;
    width: 100%;
    font-size: 20px;
    margin-left: 0;
    border-right: none;
    border-bottom: none;
    border-radius: 25px;
  }

  .skills-icons {
    float: none;
    width: 100%;
  }

  .pyIcon {
    max-width: 40px; /* Adjusted icon size for smaller screens */
    max-height: 40px;
  }

  .icon {
    padding: 10px; /* Adjusted padding for smaller screens */
  }

  /* PROJECTS SECTION */
  #projects {
    margin-top: 100px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    align-items: start;
  }

  .proj {
    text-align: center;
    align-items: start;
  }

  .proj h2 {
    text-align: center;
    font-size: 24px; /* Adjusted font size for smaller screens */
    color: rgba(255, 0, 0, 0.487);
    font-weight: bold;
  }

  .proj1,
  .proj2 {
    width: 100%;
    height: auto;
    float: none;
    margin-left: 0;
    margin-right: 0;
    background-image: none;
  }

  .proj1 img,
  .proj2 img {
    width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /* CONTACT SECTION */
  #contactpage {
    margin: 10px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    align-items: start;
  }

  .contact-icons {
    width: 100%;
  }

  .contact-img {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: greenyellow;
  }

  #contactpage h2 {
    text-align: center;
    font-size: 30px; /* Adjusted font size for smaller screens */
    color: rgba(255, 0, 0, 0.487);
    font-weight: bold;
  }

  .contact-icons p {
    margin: 5px 0;
  }
}
